<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0.3" />
  </system.web>
  <connectionStrings>
    <add name="AppVeyor" connectionString="Server=(local)\SQL2016;Database=tempdb;User ID=sa;Password=Password12!"
      providerName="System.Data.SqlClient" />
    
    <add name="teste" connectionString="Data Source=.\sqlexpress;Initial Catalog=dtb_PortalDAT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>